<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Metropolitan Museum of Art
    </ion-title>
  </ion-toolbar>
  <app-filters (emitSearch)="search($event)"></app-filters>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> Recent Conversations </ion-list-header>

    <ion-virtual-scroll [items]="objectsList?.objectIDs" approxItemHeight="320px">
      <div *virtualItem="let item">
        <app-item-list [objectId]="item"></app-item-list>
      </div>
    </ion-virtual-scroll>

  </ion-list>
</ion-content>
