<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Metropolitan Museum of Art
    </ion-title>
  </ion-toolbar>
  <app-filters (emitSearch)="search($event)"></app-filters>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> Artículos encontrados </ion-list-header>
      <div *ngFor="let item of objectsList">
        <app-item-list [objectId]="item" (emitDetail)="openDetail($event)"></app-item-list>
      </div>
  </ion-list>
</ion-content>
