<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Metropolitan Museum of Art
    </ion-title>
  </ion-toolbar>
  <app-filters (emitSearch)="search($event)"></app-filters>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> Recent Conversations </ion-list-header>

    <ion-virtual-scroll [items]="objectsList?.objectIDs">
      <div *virtualItem="let item">
        <ion-item button (click)="openDetail(item)">
          <ion-avatar slot="start">
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>{{item}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-virtual-scroll>

  </ion-list>
</ion-content>
